    /* ここが本体：背景のぼかし（Chrome/Firefox/Safariで使う） */
    /*backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);*/
    /*mix-blend-mode: screen;*/

    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #EAEAE9;
        color: #5B5B5B;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #5B5B5B;
    }

    /*ヘッダー*/
    header {
        width: 100%;
        height: 150px;
        color: #5B5B5B;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 20px;
        text-align: center;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: italic;
    }

    header ul {
        width: 40%;
        display: flex;
        align-items: center;
        padding: 0;
    }

    header li {
        margin: 0 auto;
    }

    header a {
        display: block;
        width: 100px;
        position: relative;
        text-align: center;
    }

    header a::after {
        content: "";
        /* 擬似要素を表示させるために必須 */
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #5B5B5B;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    header a:hover::after {
        transform: scaleX(1);
    }

    /*ここからメイン*/
    main {
        margin: 0 auto;
        text-align: center;
    }

    /*top*/
    .top-container {
        width: auto;
        height: 300px;
        padding: 80px 0 120px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title-wrapper {
        position: relative;
    }

    .title-wrapper h2 {
        font-size: 40px;
        position: relative;
        z-index: 2;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 500;
    }

    /*top-img*/
    .topimg-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }


    /*パーツの配置*/
    .dott-line1 {
        position: absolute;
        width: 140px;
        top: -50px;
        left: 270px;
    }


    .check {
        position: absolute;
        width: 170px;
        top: 30px;
        left: 270px;
    }

    .arrow {
        position: absolute;
        width: 60px;
        top: 150px;
        left: 270px;
    }

    .traiangle2 {
        position: absolute;
        width: 50px;
        top: -50px;
        right: 400px;
    }

    .stripe-line {
        position: absolute;
        width: 110px;
        top: -70px;
        right: 200px;
    }

    .traiangle {
        position: absolute;
        width: 140px;
        top: 100px;
        right: 200px;
    }

    .dott-line2 {
        position: absolute;
        width: 90px;
        top: 200px;
        right: 300px;
    }

    .dott-line1,
    .check,
    .arrow,
    .traiangle2,
    .stripe-line,
    .traiangle,
    .dott-line2 {
        animation: floatY 5s ease-in-out 1s infinite;
    }

    /* 上下に揺れる */
    @keyframes floatY {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }


    .glass1 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0px;
        right: 200px;
        border-radius: 50%;
        backdrop-filter: blur(60px) saturate(120%);
        -webkit-backdrop-filter: blur(60px) saturate(120%);
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25);
        mix-blend-mode: screen;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .glass2 {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 150px;
        left: 350px;
        border-radius: 50%;
        backdrop-filter: blur(20px) saturate(120%);
        -webkit-backdrop-filter: blur(20px) saturate(120%);
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25);
        mix-blend-mode: screen;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .aroow-img {
        width: 50px;
        margin-bottom: 200px;
    }

    /*ここからworks*/
    section {
        width: 100%;
        height: 700px;
    }

    .works-container,
    .about-container {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: end;
    }

    .works-left-wrapper {
        width: 60%;
        position: relative;
        display: inline-block;
        padding-left: 150px;
    }

    .works-right-wrapper {
        width: 40%;
        text-align: left;
        padding-right: 150px;
        padding-left: 100px;
    }

    .work1-img,
    .about-img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        display: block;
        border: #5B5B5B 1px solid;
    }

    .works-text-box {
        position: absolute;
        width: 300px;
        height: 50px;
        top: 5%;
        left: 50%;
        font-size: 60px;
        text-align: left;
        padding: 20px 20px 20px 40px;

        color: #EAEAE9;
        -webkit-text-stroke: 1px #5B5B5B;
        border: #5B5B5B 1px solid;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);

        backdrop-filter: blur(10px) saturate(120%);
        -webkit-backdrop-filter: blur(10px) saturate(120%);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: italic;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    }

    .text-box {
        width: 400px;
    }

    .more-btn {
        display: block;
        width: 170px;
        height: 50px;
        margin-top: 50px;
        border-radius: 50px;
        color: #5B5B5B;
        background-color: #EAEAE9;
        border: #5B5B5B 1px solid;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
    }

    .more-btn:hover {
        color: #EAEAE9;
        background-color: #5B5B5B;
        border: #EAEAE9 1px solid;
    }


    /*3つのカード*/
    .works-group {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-image: url("img/tyou1.gif");
    }

    .works-card {
        width: 30%;
        height: 500px;
        margin: 0 15px;
        border: #5B5B5B 1px solid;
        /*縦中央ぞろえ*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);

        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px) saturate(120%);
        -webkit-backdrop-filter: blur(10px) saturate(120%);
    }

    .icon-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .works-card h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .works-card h4 {
        font-size: 10px;
    }

    .line {
        height: 1px;
        background-color: #5B5B5B;
        width: 50px;
    }


    .view-btn {
        display: block;
        width: 100px;
        height: 30px;
        margin-top: 20px;
        color: #5B5B5B;
        background-color: #EAEAE9;
        border: #5B5B5B 1px solid;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
    }

    .view-btn:hover {
        color: #EAEAE9;
        background-color: #5B5B5B;
        border: #EAEAE9 1px solid;
    }

    /*About*/
    .about-right-wrapper {
        width: 50%;
        position: relative;
        display: inline-block;
        padding-right: 150px;
    }

    .about-left-wrapper {
        width: 50%;
        text-align: left;
        padding-left: 200px;
        padding-right: 150px;
    }

    .about-text-box {
        position: absolute;
        width: 300px;
        height: 50px;
        top: 5%;
        right: 60%;
        font-size: 60px;
        text-align: left;
        padding: 20px 20px 20px 40px;
        color: #EAEAE9;
        -webkit-text-stroke: 1px #5B5B5B;
        border: #5B5B5B 1px solid;
        display: flex;
        justify-content: center;
        flex-direction: column;

        backdrop-filter: blur(10px) saturate(120%);
        -webkit-backdrop-filter: blur(10px) saturate(120%);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

        background-color: rgba(255, 255, 255, 0.3);
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: italic;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    }

    /*スライドショー*/
    .slide-container {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-bottom: 200px;
    }

    .slide-wrapper {
        display: flex;
        animation: slide-flow 20s infinite linear 1s both;
    }

    .slide {
        width: 500px;
        height: 200px;
        object-fit: cover;
        padding: 0 30px;
    }

    @keyframes slide-flow {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    /*最後のセクション*/
    .end-container {
        margin-bottom: 200px;
    }

    .end-container .wrapper {
        display: flex;
        align-items: center;
    }

    .wrapper img {
        margin: 0 auto;
        padding: 0;
        width: 500px;
    }

    .wrapper h2 {
        padding: 0;
        margin: 0 auto;
    }

    /*フッター*/
    footer {
        width: 100%;
        height: 200px;
        color: #5B5B5B;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-top: #5B5B5B 1px solid;
        background-color: #dadada;
    }

    footer ul {
        width: 500px;
        display: flex;
    }

    footer li {
        margin: 0 auto;
    }

    footer h1 {
        font-size: 20px;
        text-align: center;
    }


    /*topへ戻るボタン*/
    #topBtn {
        width: 70px;
        height: 70px;
        bottom: 70px;
        right: 100px;
        text-align: center;
        position: fixed;
        border: #5B5B5B 1px solid;
        opacity: 0;
        pointer-events: none;
        z-index: 100;
        transition: opacity 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        backdrop-filter: blur(10px) saturate(120%);
        -webkit-backdrop-filter: blur(10px) saturate(120%);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.6);
    }

    .top-icon {
        width: 40px;
        height: 40px;
        background-color: #555;
    }

    #topBtn.show {
        opacity: 1;
        pointer-events: auto;
    }

    #topBtn:hover {
        opacity: 1;
        background: #5B5B5B;
        color: #EAEAE9;
    }